<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Commulab - Lisk Validator" />
    <link rel="icon" href="./icon/favicon.ico" />
    <link rel="apple-touch-icon" href="./icon/logo192.png" />
    <link rel="manifest" href="./icon/manifest.json" />
    <link rel="stylesheet" href="./css/font.css" type="text/css" />
    <link rel="stylesheet" href="./css/lisk.css" type="text/css" />
    <link rel="stylesheet" href="./css/common.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" type="text/css" />
    <title>Commulab Web Site</title>
</head>
<body>
    <header>
        <%- include('../template/header'); %>
    </header>
    <div id="contents">
        <div id="layer" style="display: none;"></div>
        <% if (data.type === "home") { %>
            <%- include('../page/home', { data: { blog: data.blog }}); %>
        <% } else if (data.type === "staking") { %>
            <%- include('../page/staking'); %>
        <% } else if (data.type === "network-monitor") { %>
            <%- include('../page/network-monitor'); %>
        <% } else if (data.type === "reward-checker") { %>
            <%- include('../page/reward-checker'); %>
        <% } else if (data.type === "csv-download") { %>
            <%- include('../page/csv-download'); %>
        <% } %>
    </div>
</body>
</html>
