<div id="home">
    <div class="aboutus">
        <div class="content-title">
            <img src="../image/commulab-Logo.png"/>&nbsp;Aout Us
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">commulabについて</div>
        <div class="content-main left">
            <div class="content open">
                <div class="title">活動内容</div>
                <div>Liskに関する情報の発信や質問回答を行っています。</div>
                <div>不明な点があればお気軽にご質問をどうぞ！</div>
                <div>連絡先は <a href="https://x.com/liskcommulab" target="_blank" rel="noopener noreferrer">こちら(<i class="fab fa-x-twitter"></i>)</a></div>
                <br/>
                <div class="title">メンバー</div>
                <ul>
                    <li>
                        <div>うざまる</div>
                        <div><i class="fab fa-x-twitter"></i>：<a href="https://x.com/uzamaru_crypto" target="_blank" rel="noopener noreferrer">@uzamaru_crypto</a></div>
                        <div><i class="fab fa-discord"></i>：@uzamaru (Lisk公式Discordモデレータ)</div>
                    </li>
                    <li>
                        <div>万博おじ</div>
                        <div><i class="fab fa-x-twitter"></i>：<a href="https://x.com/ys_mdmg" target="_blank" rel="noopener noreferrer">@ys_mdmg</a></div>
                        <div><i class="fab fa-discord"></i>：@ys_mdmg (Lisk公式Discordモデレータ)</div>
                    </li>
                    <li>
                        <div>えび</div>
                        <div><i class="fab fa-x-twitter"></i>：<a href="https://x.com/ebifu222" target="_blank" rel="noopener noreferrer">@ebifu222</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="information">
        <div class="content-title">
            <img src="../image/commulab-Logo.png"/>&nbsp;Information
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">commulabからのお知らせ</div>
        <div class="content-main right">
            <div class="content open">
                <div class="title">Lisk公式アナウンス(ピックアップ)</div>
                <div>
                    <ul>
                        <li style="color: rgb(190, 42, 42);">
                            <div>ステーキングサービスが開始されました</div>
                            <div>詳しくは <a href="https://lisk.com/blog/posts/lsk-staking-explained" target="_blank" rel="noopener noreferrer">こちら</a></div>
                        </li>
                        <li style="color: rgb(190, 42, 42);">
                            <div>HodlerDrop(エアドロップ)ページが公開されました</div>
                            <div>詳しくは <a href="https://hodlerdrop.lisk.com/hodlerdrop/" target="_blank" rel="noopener noreferrer">こちら</a></div>
                        </li>
                        <li style="color: rgb(190, 42, 42);">
                            <div>L2 LSK請求方法が公開されました</div>
                            <div>詳しくは <a href="https://lisk.com/blog/posts/everything-you-need-to-know-for-the-lsk-migration-to-lisk-l2" target="_blank" rel="noopener noreferrer">こちら</a></div>
                        </li>
                    </ul>
                </div>
                <br />
                <div class="title">更新情報</div>
                <ul>
                    <li><div>2024/08/19：Lisk財務報告を更新</div></li>
                    <li><div>2024/05/22：STAKINGページなどバリデータに関する内容を削除しました</div></li>
                    <li><div>自動更新：Lisk公式ブログ(ピックアップ記事)</div></li>
                    <li><div>自動更新：commulabブログ</div></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="blog">
        <div class="content-title">
            <img src="../image/commulab-Logo.png"/>&nbsp;Blog
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">commulabブログ(Noteのマガジン)の最新記事</div>
        <div class="content-main left">
            <div class="content open">
                <% if (data.blog[0].error) { %>
                    <div><i class="far fa-face-dizzy"></i>&nbsp;ブログが取得できませんでした。</div>
                <% } else { %>
                    <div class="thumbnail"><a href="<%- data.blog[0].link %>" target="_blank" rel="noopener noreferrer"><img alt="commulab blog" src="<%= data.blog[0].thumbnail %>"></a></div>
                    <div class="title"><%- data.blog[0].title %></div>
                    <div class="description"><%- data.blog[0].description %></div>
                    <div class="writer"><%- data.blog[0].writer %>&nbsp;(<%- data.blog[0].date %>)</div>
                    <div class="ref"><a href="https://note.com/liskcommulab" target="_blank" rel="noopener noreferrer">その他の記事はこちら</a></div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="announce">
        <div class="content-title">
            <span class="icon-Lisk-Symbol"></span>&nbsp;Financial Update
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">Lisk財務報告</div>
        <div class="content-main right">
            <div class="content open">
                <blockquote class="twitter-tweet" data-conversation="none" data-dnt="true" data-theme="light">
                    <p lang="ja" dir="ltr">こんばんは🌙<br>Onchain財団より最新の財務報告が発表されました💰2024年7月の総資産は約135億円(ユーロ:7.1億円/スイスフラン:2.4千万円/BTC:37億円/ETH:47億円/その他)となっています。<br>詳細につきましては、引用ポストよりご確認ください👇<a href="https://twitter.com/hashtag/Lisk?src=hash&amp;ref_src=twsrc%5Etfw">#Lisk</a> <a href="https://t.co/xabqlLtqcu">https://t.co/xabqlLtqcu</a> <a href="https://t.co/hSIq9lj4Zs">pic.twitter.com/hSIq9lj4Zs</a></p>&mdash; Lisk CommuLab (@liskcommulab) <a href="https://twitter.com/liskcommulab/status/1821877429406720000?ref_src=twsrc%5Etfw">August 9, 2024</a>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="blog">
        <div class="content-title">
            <span class="icon-Lisk-Symbol"></span>&nbsp;Blog
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">Lisk公式ブログのピックアップ記事</div>
        <div class="content-main left">
            <div class="content open">
                <% if (data.blog[1].error) { %>
                    <div><i class="far fa-face-dizzy"></i>&nbsp;ブログが取得できませんでした。</div>
                <% } else { %>
                    <div class="thumbnail"><a href="<%- data.blog[1].link %>" target="_blank" rel="noopener noreferrer"><img alt="lisk blog" src="<%= data.blog[1].img %>"></a></div>
                    <div class="title"><%- data.blog[1].title %></div>
                    <div class="description"><%- data.blog[1].description %></div>
                    <div class="description"><a href="<%- data.blog[1].link %>" target="_blank" rel="noopener noreferrer">続きをみる</a></div>
                    <div class="writer"><%- data.blog[1].writer %>&nbsp;(<%- data.blog[1].date %>)</div>
                    <div class="ref"><a href="https://lisk.com/blog" target="_blank" rel="noopener noreferrer">その他の記事はこちら</a></div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="link">
        <div class="content-title">
            <i class="fas fa-link"></i>&nbsp;Link
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">リンク集</div>
        <div class="content-main right">
            <div class="content open">
                <ul>
                    <li>
                        <div class="title">Lisk公式サイト</div>
                        <div><a href="https://lisk.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;公式サイト</a></div>
                        <div><a href="https://portal.lisk.com/" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;Lisk Portal</a></div>
                        <div><a href="https://blockscout.lisk.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;エクスプローラ(Mainnet)</a></div>
                        <div><a href="https://sepolia-blockscout.lisk.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;エクスプローラ(Testnet)</a></div>
                        <div><a href="https://forum.lisk.com/" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;Governance Forum</a></div>
                    </li>
                    <li>
                        <div class="title">Lisk公式SNSなど</div>
                        <div><a href="https://x.com/LiskHQ" target="_blank" rel="noopener noreferrer"><i class="fab fa-x-twitter"></i>&nbsp;LiskHQ</a></div>
                        <div><a href="https://lisk.chat" target="_blank" rel="noopener noreferrer"><i class="fab fa-discord"></i>&nbsp;Discord</a></div>
                        <div><a href="https://github.com/liskhq" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i>&nbsp;Github</a></div>
                        <div><a href="https://t.me/Lisk_HQ" target="_blank" rel="noopener noreferrer"><i class="fab fa-telegram"></i>&nbsp;Telegram</a></div>
                        <div><a href="https://www.reddit.com/r/Lisk" target="_blank" rel="noopener noreferrer"><i class="fab fa-reddit"></i>&nbsp;reddit</a></div>
                        <div><a href="https://www.linkedin.com/company/lisk" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i>&nbsp;LinkedIn</a></div>
                        <div><a href="https://www.facebook.com/LiskHQ" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i>&nbsp;Facebook</a></div>
                        <div><a href="https://www.instagram.com/lisk_blockchain/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i>&nbsp;Instagram</a></div>
                        <div><a href="https://www.youtube.com/channel/UCuqpGfg_bOQ8Ja4pj811PWg" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i>&nbsp;YouTube</a></div>
                    </li>
                    <li>
                        <div class="title">その他</div>
                        <div><a href="https://discord.com/invite/jWruheS" target="_blank" rel="noopener noreferrer"><i class="fab fa-discord"></i>&nbsp;Lisk日本語コミュニティ(非公式)</a></div>
                        <div><a href="https://note.com/lisknonanika" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;note - 万博おじ</a></div>
                        <div><a href="https://github.com/lisknonanika" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i>&nbsp;Github - 万博おじ</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="../css/home.css" type="text/css" />
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="https://js.lisk.com/lisk-client-5.2.1.js" charset="utf-8"></script>
</div>