<div id="home">
    <div class="aboutus">
        <div class="content-title">
            <img src="../image/commulab-Logo.png"/>&nbsp;Aout Us
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">commulabについて</div>
        <div class="content-main left">
            <div class="content open">
                <div>日本で活動しているLiskのバリデータです。</div>
                <div>Liskに関する質問回答など様々な支援を行っています。</div>
                <div>
                    不明な点があればお気軽にご質問をどうぞ！
                </div>
                <br />
                <div class="title">バリデータ情報</div>
                <ul>
                    <li>
                        <div class="title">バリデータ名</div>
                        <div>commulab</div>
                    </li>
                    <li>
                        <div class="title">アドレス</div>
                        <div><a href="https://liskscan.com/account/lsk5tyhc6tw76ybwwzt9vcefy3gryjvprkcj329tw" target="_blank" rel="noopener noreferrer">lsk5tyhc6tw76ybwwzt9vcefy3gryjvprkcj329tw</a></div>
                    </li>
                    <li>
                        <div class="title">ランク (得票数 / 最大票数)</div>
                        <div id="info-rank">取得中です。</div>
                    </li>
                    <li>
                        <div class="title">連絡先</div>
                        <div><a href="https://twitter.com/liskcommulab" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i>liskcommulab</a></div>
                    </li>
                </ul>
                <div style="margin-top: 10px;">いつも応援ありがとうございます！</div>
                <div>投票・寄付など、活動支援をお願いします&nbsp;<i class="far fa-face-smile-wink"></i></div>
            </div>
        </div>
    </div>

    <div class="information">
        <div class="content-title">
            <img src="../image/commulab-Logo.png"/>&nbsp;Information
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">commulabからのお知らせ</div>
        <div class="content-main right">
            <div class="content open">
                <div class="title" style="color: rgb(190, 42, 42);">重要</div>
                <div style="color: rgb(190, 42, 42);">テストネットのLisk v4移行は成功しました！</div>
                <div style="color: rgb(190, 42, 42);">テストネットを試したい方は<a href="https://github.com/LiskHQ/lisk-desktop/releases" target="_blank" rel="noopener noreferrer">Lisk Desctop v3.0.0</a>をご利用ください。</div>
                <br />
                <div class="title">更新情報</div>
                <ul>
                    <li><div>2023/10/10：Lisk公式アナウンスを更新(9月度財務報告)</div></li>
                    <li><div>2023/09/12：Lisk公式アナウンスを更新(8月度財務報告)</div></li>
                    <li><div>2023/08/10：Lisk公式アナウンスを更新(7月度財務報告)</div></li>
                    <li><div>不定期：commulabブログ</div></li>
                </ul>
                <br />
                <div class="title">イベント情報</div>
                <ul>
                    <li><div>開催中のイベントはありません。</div></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="member">
        <div class="content-title">
            <img src="../image/commulab-Logo.png"/>&nbsp;Member
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">commulabの運営メンバー情報</div>
        <div class="content-main left">
            <div class="content open">
                <div class="title">[管理者]&nbsp;うざまる</div>
                <ul>
                    <li>
                        <div class="title">役割</div>
                        <div><i class="far fa-thumbs-up"></i>&nbsp;commulabのTwitterアカウントの管理</div>
                        <div><i class="far fa-thumbs-up"></i>&nbsp;Liskに関する質問回答などの日本人サポート</div>
                    </li>
                    <li>
                        <div class="title">連絡先</div>
                        <div><a href="https://twitter.com/uzamaru_crypto" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i>uzamaru_crypto</a></div>
                    </li>
                </ul>
                <br />
                <div class="title">[管理者]&nbsp;えび</div>
                <ul>
                    <li>
                        <div class="title">役割</div>
                        <div><i class="far fa-thumbs-up"></i>&nbsp;commulabのDiscordアカウントの管理</div>
                        <div><i class="far fa-thumbs-up"></i>&nbsp;Liskに関する質問回答などの日本人サポート</div>
                    </li>
                    <li>
                        <div class="title">連絡先</div>
                        <div><a href="https://twitter.com/ebifu222" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i>ebifu222</a></div>
                    </li>
                </ul>
                <br />
                <div class="title">[開発者]&nbsp;万博おじ</div>
                <ul>
                    <li>
                        <div class="title">役割</div>
                        <div><i class="far fa-thumbs-up"></i>&nbsp;ノード・サイト管理</div>
                        <div><i class="far fa-thumbs-up"></i>&nbsp;Liskに関するツール・アプリの開発&nbsp;(<a href="https://github.com/lisknonanika" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i>lisknonanika</a>)</div>
                        <div><i class="far fa-thumbs-up"></i>&nbsp;Liskに関する質問回答などの日本人サポート</div>
                    </li>
                    <li>
                        <div class="title">連絡先</div>
                        <div><a href="https://twitter.com/ys_mdmg" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i>ys_mdmg</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<!--
    <div class="twitter">
        <div class="content-title">
            <img src="../image/commulab-Logo.png"/>&nbsp;Tweet
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">commulabのTwitterのタイムライン(最新5件)</div>
        <div class="content-main right">
            <div class="content open">
                <a class="twitter-timeline" href="https://twitter.com/liskcommulab" data-tweet-limit="5" data-chrome="noheader nofooter" data-height="600">Tweets by liskcommulab</a>
            </div>
        </div>
    </div>
-->

    <div class="blog">
        <div class="content-title">
            <img src="../image/commulab-Logo.png"/>&nbsp;Blog
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">commulabブログ(Noteのマガジン)の最新記事</div>
        <div class="content-main right">
            <div class="content open">
                <% if (data.blog[0].error) { %>
                    <div><i class="far fa-face-dizzy"></i>&nbsp;ブログが取得できませんでした。</div>
                <% } else { %>
                    <div class="thumbnail"><a href="<%- data.blog[0].link %>" target="_blank" rel="noopener noreferrer"><img alt="commulab blog" src="<%= data.blog[0].thumbnail %>"></a></div>
                    <div class="title"><%- data.blog[0].title %></div>
                    <div class="description"><%- data.blog[0].description %></div>
                    <div class="writer"><%- data.blog[0].writer %>&nbsp;(<%- data.blog[0].date %>)</div>
                    <div class="ref"><a href="https://note.com/liskcommulab" target="_blank" rel="noopener noreferrer">その他の記事はこちら</a></div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="announce">
        <div class="content-title">
            <span class="icon-Lisk-Symbol"></span>&nbsp;Announcement
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">Lisk公式アナウンス</div>
        <div class="content-main left">
            <div class="content open">
                <div class="thumbnail"><a href="https://lisk.com/blog/posts/financial-update-september-2023" target="_blank" rel="noopener noreferrer"><img alt="lisk official announcement" src="../image/official-announcement.png"></a></div>
                <div class="ref"><a href="https://lisk.com/blog/posts/financial-update-september-2023" target="_blank" rel="noopener noreferrer">2023年9月度 財務報告</a></div>
            </div>
        </div>
    </div>

<!--
    <div class="twitter">
        <div class="content-title">
            <span class="icon-Lisk-Symbol"></span>&nbsp;Tweet
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">Lisk公式Twitterのタイムライン(最新5件)</div>
        <div class="content-main left">
            <div class="content open">
                <a class="twitter-timeline" href="https://twitter.com/liskhq" data-tweet-limit="5" data-chrome="noheader nofooter" data-height="600">Tweets by liskhq</a>
            </div>
        </div>
    </div>
-->

    <div class="blog">
        <div class="content-title">
            <span class="icon-Lisk-Symbol"></span>&nbsp;Blog
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">Lisk公式ブログのピックアップ記事</div>
        <div class="content-main right">
            <div class="content open">
                <% if (data.blog[1].error) { %>
                    <div><i class="far fa-face-dizzy"></i>&nbsp;ブログが取得できませんでした。</div>
                <% } else { %>
                    <div class="thumbnail"><a href="<%- data.blog[1].link %>" target="_blank" rel="noopener noreferrer"><img alt="lisk blog" src="<%= data.blog[1].img %>"></a></div>
                    <div class="title"><%- data.blog[1].title %></div>
                    <div class="description"><%- data.blog[1].description %></div>
                    <div class="description"><a href="<%- data.blog[1].link %>" target="_blank" rel="noopener noreferrer">続きをみる</a></div>
                    <div class="writer"><%- data.blog[1].writer %>&nbsp;(<%- data.blog[1].date %>)</div>
                    <div class="ref"><a href="https://lisk.com/blog" target="_blank" rel="noopener noreferrer">その他の記事はこちら</a></div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="link">
        <div class="content-title">
            <i class="fas fa-link"></i>&nbsp;Link
            <span class="open-close"><i class="far fa-square-minus"></i></span>
        </div>
        <div class="content-description">リンク集</div>
        <div class="content-main left">
            <div class="content open">
                <ul>
                    <li>
                        <div class="title">Lisk公式</div>
                        <div><a href="https://lisk.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;サイト</a></div>
                        <div><a href="https://research.lisk.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;Research forum</a></div>
                        <div><a href="https://dev.lisk.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;Dev forum</a></div>
                        <div><a href="https://twitter.com/LiskHQ" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i>&nbsp;Twitter</a></div>
                        <div><a href="https://lisk.chat" target="_blank" rel="noopener noreferrer"><i class="fab fa-discord"></i>&nbsp;Discord</a></div>
                        <div><a href="https://t.me/Lisk_HQ" target="_blank" rel="noopener noreferrer"><i class="fab fa-telegram"></i>&nbsp;Telegram</a></div>
                        <div><a href="https://github.com/liskhq" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i>&nbsp;github</a></div>
                        <div><a href="https://www.reddit.com/r/Lisk" target="_blank" rel="noopener noreferrer"><i class="fab fa-reddit"></i>&nbsp;reddit</a></div>
                        <div><a href="https://www.linkedin.com/company/lisk" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i>&nbsp;LinkedIn</a></div>
                        <div><a href="https://www.facebook.com/LiskHQ" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i>&nbsp;facebook</a></div>
                        <div><a href="https://www.instagram.com/lisk_blockchain/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i>&nbsp;Instagram</a></div>
                        <div><a href="https://www.youtube.com/channel/UCuqpGfg_bOQ8Ja4pj811PWg" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i>&nbsp;YouTube</a></div>
                        <div><a href="https://mainnet-service.lisk.com/api/status" target="_blank" rel="noopener noreferrer"><i class="fas fa-network-wired"></i>&nbsp;Lisk Service (Mainnet)</a></div>
                        <div><a href="https://testnet-service.lisk.com/api/status" target="_blank" rel="noopener noreferrer"><i class="fas fa-network-wired"></i>&nbsp;Lisk Service (Testnet)</a></div>
                    </li>
                    <li>
                        <div class="title">Liskエクスプローラ</div>
                        <div><a href="https://liskscan.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;Liskscan (Mainnet)</a></div>
                        <div><a href="https://testnet.liskscan.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;Liskscan (Testnet)</a></div>
                        <div><a href="https://lisk.observer" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;Lisk.observer (Mainnet)</a></div>
                        <div><a href="https://testnet.lisk.observer" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;Lisk.observer (Testnet)</a></div>
                        <div><a href="https://liskbeholder.io/" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;Lisk Beholder (Mainnet)</a></div>
                    </li>
                    <li>
                        <div class="title">commulab</div>
                        <div><a href="https://liskcommulab.jp/" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;サイト</a></div>
                        <div><a href="https://note.com/liskcommulab" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;ブログ</a></div>
                        <div><a href="https://twitter.com/liskcommulab" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i>&nbsp;Twitter</a></div>
                        <div><a href="https://mainnet-service.liskcommulab.jp/api/status" target="_blank" rel="noopener noreferrer"><i class="fas fa-network-wired"></i>&nbsp;Lisk Service (Mainnet)</a></div>
                        <div><a href="https://testnet-service.liskcommulab.jp/api/status" target="_blank" rel="noopener noreferrer"><i class="fas fa-network-wired"></i>&nbsp;Lisk Service (Testnet)</a></div>
                    </li>
                    <li>
                        <div class="title">うざまる</div>
                        <div><a href="https://twitter.com/uzamaru_crypto" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i>&nbsp;Twitter</a></div>
                    </li>
                    <li>
                        <div class="title">えび</div>
                        <div><a href="https://twitter.com/ebifu222" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i>&nbsp;Twitter</a></div>
                    </li>
                    <li>
                        <div class="title">万博おじ</div>
                        <div><a href="https://note.com/lisknonanika" target="_blank" rel="noopener noreferrer"><i class="fas fa-desktop"></i>&nbsp;ブログ</a></div>
                        <div><a href="https://twitter.com/ys_mdmg" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i>&nbsp;Twitter</a></div>
                        <div><a href="https://github.com/lisknonanika" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i>&nbsp;github</a></div>
                    </li>
                    <li>
                        <div class="title">その他</div>
                        <div><a href="https://discord.com/invite/jWruheS" target="_blank" rel="noopener noreferrer"><i class="fab fa-discord"></i>&nbsp;Lisk日本語コミュニティ(非公式)</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="../css/home.css" type="text/css" />
    <!-- <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
    <script src="https://js.lisk.com/lisk-client-5.2.1.js" charset="utf-8"></script>
    <script src="../js/common.js" charset="utf-8"></script>
    <script>
        const setValidatorInfo = async() => {
            try {
                const data = await getMyAccount();
                const rank = data.dpos.delegate.rank;
                const totalVotesReceived = lisk.transactions.convertBeddowsToLSK(data.dpos.delegate.totalVotesReceived);
                const voteWeight = lisk.transactions.convertBeddowsToLSK(data.dpos.delegate.voteWeight);
                document.querySelector("#info-rank").innerHTML = `${rank} (${totalVotesReceived} / ${voteWeight})`;
            } catch (err) {
                document.querySelector("#info-rank").innerHTML = `<i class="far fa-face-dizzy"></i>&nbsp;取得できませんでした。`;
            }
        }

        (() => {
            setValidatorInfo();
        })();
    </script>
</div>